body {
  background-color:#0E0E0E ;
  color: white;
  margin: 0;
}

header {
  margin: auto;
  display: flex;
  max-width: 1150px;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 13px;
  font: bold 16px Roboto, sans-serif;
  color: rgb(255, 255, 255);
}

iconText {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 60px;
  border-radius: 30px;
}

headerButtons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.join {
  background-color: #CC9F2E;
  border: none;
  padding: 13px 45px;
  border-radius: 10px;
  font: bold 16px Roboto, sans-serif
}

.memberbutton {
  border: 4px solid #CC9F2E;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  font: bold 16px Roboto, sans-serif;
  color: #CC9F2E;
}

welcome {
  color: white;
  font: 400 36px Inter, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 40px 40px;
}

yellow {
  color: #CC9F2E;
}

.images img {
  width: 1000px;
  margin: auto;
  object-fit: fill;
  height: 500px;
}

.slidesText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 70px;
  width: 500px;
  text-align: center;
  font: 400 14px Inter, sans-serif;
  color: rgb(255, 255, 255);
}

sliderImages {
  justify-content: center;
  display: flex;
  margin: auto;
  overflow: visible;
}

sliderImages p {
  display: inline;
  width: 500px;
}

sliderImages h1 {
  margin: 10px;
  font: bold 34px Inter, sans-serif;
  max-width: 1000px;
  min-width: 50px;
  color: white;
}

sliderbutton {
  position: absolute;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.listen {
  background-color: #FFC739;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 40px;
  margin-top: 40px;
}

button {
  background-color: #B4B4B4;
  border: none;
  padding: 4px 15px;
}

.selectbutton:hover {
  cursor: pointer;
}

.selectedButton {
  background-color: #CC9F2E;
  padding: 4px 17px;
  border: none;
}

.arrow {
  width: 60px;
}

.podcastIcon {
  width: 180px;
}

a {
  text-decoration: none;
  color: white;
}

.podcastDiv {
  display: flex;
  gap: 20px;
  background-color: #242424;
  width: 450px;
  padding: 50px;
  font: 400 14px Roboto, sans-serif;
}
.podcastDiv h1 {
  font: bold 24px Inter, sans-serif;
  margin: 0;
  color: white;
}

.podcastContainer {
  display: grid;
  grid-template-columns: 550px 550px;
  align-items: center;
  justify-content: center; 
  margin: auto;
  gap: 30px;
  vertical-align: middle;
  padding-bottom: 40px;
}

.podcastDiv p {
  margin: 10px 0;
}
.podcastInfo{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.petry {
  background-color: #FFC739;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.petry h1 {
  font: bold 48px Inter, sans-serif;
  color: rgb(14, 14, 14);
  margin: 21px 0px 38px}

.petry p {
  font: 400 16px Roboto, sans-serif;
  color: rgb(14, 14, 14);
  margin: 0px 0px 38px
}

.member {
  color: white;
  border: 4px solid #CC9F2E;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  font: bold 16px Roboto, sans-serif;
}

.petrypic {
  max-width: 200px;
}

maintext {
 margin-bottom: 90px;
  width: 390px;
}

.turnmember {
  margin: auto;
  width: 1100px;
}

memberskills {
  display: flex;
  gap: 40px;
  margin: 100px auto;
  justify-content: center;
  height: 150px;
}

membertext {
  padding: 0px 107px 0px 21px;
  border-radius: 10px;
  width: 600px;
}

memberskills img {
  width: 200px;
  border-radius: 20px;
}

.membertitle {
  font: 400 48px Inter, sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 70px;
}

.membertitle2 {
  font: bold 29px Inter, sans-serif;
}

footer {
  color: black;
  background-color: #FFC739;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  padding: 37px;
  gap: 20px;
}

footer img {
  width: 250px;
  border:#CC9F2E solid;
}

footer p {
  color: black;
  font: bold 400 14px Roboto, sans-serif;
}
footer p, h1:hover {
  cursor: pointer;
}

footer h1 {
  color: black;
  font: bold 400 14px Roboto, sans-serif;
}

.footernav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.titlemain {
  margin: 50px auto ;
  display: grid;
  width: 1100px;
  min-width: 1100px;
}

titlemain h1 {
  margin: 0;
  width: 300px
}